* { /* Este siempre debe de venir en todos los archivos de css */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html { /* Este siempre debe de venir en todos los archivos de css */
    font-size: 62.5%;
}

main {
    width: 100vw;  /* con este width y height es para que el contenedor main ocupe el 100 sin importar el tamaño de la pantalla */
    height: 100vh;
    background-color: azure;
}

.parent {
    border: 2px black dotted;
    display: inline-block;
}

.box1 {
    background-color: rgb(255, 0, 0);
    border: 1px black;
    border-style:groove;
    border-radius: 25px;
    margin-top: 10px;
    margin-left: 150px;
    width: 400px;
    height: 80px;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.6rem;
    text-align: center;
    display: flex;                /* Activar Flexbox */
    align-items: center;          /* Centrar verticalmente */
    justify-content: center;      /* Centrar horizontalmente */
}

.box2 {
    background-color: rgba(0, 247, 255, 0.400);
    border: 1px black;
    border-style:groove;
    border-radius: 50px;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
    width: 600px;
    height: 400px;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.6rem;
    text-align: center;
    display: flex;                /* Activar Flexbox */
    align-items: center;          /* Centrar verticalmente */
    justify-content: center;      /* Centrar horizontalmente */
}
